modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
build = ["sh", "-c", "yarn elements:build && yarn demo:build"]
run = ["sh", "-c", "cd packages/circle-demo-webapp && yarn start"]
deploymentTarget = "cloudrun"
